/target
/.env

/jobs/*
/repos/*
/state/*
!/jobs/.gitkeep
!/repos/.gitkeep
!/state/.gitkeep

/secrets/**
!/secrets/**/
!/secrets/**/.gitkeep
!/secrets/**/*.example
!/secrets/**/README.md

.DS_Store
*.swp
